
<CascadingValue Value="navigationChecker" Name="@nameof(NavigationChecker)">
    <Router AppAssembly="@typeof(App).Assembly" OnNavigateAsync="OnNavigateAsync">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingValue>

<NavigationCheckerTest @ref="navigationChecker" Seconds="@(15)"/>

@code {
    private NavigationChecker navigationChecker = default!;
    private async Task OnNavigateAsync(NavigationContext args)
    {
        navigationChecker.SetPageDirtyValue(false);
        await HandyBlazorService.ResetFormStates();
    }
}
