@using SampleProject.TestComponents
<Router AppAssembly="@typeof(App).Assembly" OnNavigateAsync="OnNavigateAsync">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>


<NavigationCheckerTest IsPageDirty="IsPageDirty" Seconds="@(5)"/>


@code {
    private bool IsPageDirty = false;
    public void SetFormDirtyState(bool isDirty)
    {
        IsPageDirty = isDirty;
        StateHasChanged();
    }

    private async Task OnNavigateAsync(NavigationContext args)
    {
        // reset page dirtiness on each new page
        IsPageDirty = false;
    }
}